@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 300;
    src:url("../fonts/SCDream/SCDreamLight.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamLight.woff") format('woff'),
        url("../fonts/SCDream/SCDreamLight.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/SCDream/SCDreamRegular.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamRegular.woff") format('woff'),
        url("../fonts/SCDream/SCDreamRegular.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/SCDream/SCDreamMedium.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamMedium.woff") format('woff'),
        url("../fonts/SCDream/SCDreamMedium.otf") format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing :-0.05em;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}
body {
    font-family: 'SCDream', sans-serif;
    color: #555555;
    font-size: 18px;
    background-color: #003c8b;
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}
@media screen and (max-width:1280px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    body {
        font-size: 15px;
    }
}
@media screen and (max-width:650px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width:320px) {
    body {
        font-size: 13px;
    }
}
.blind {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}

.ai-title {
    font-size: 1.667em;
    font-weight: 500;
    color: #fff;
    margin: 1em 0;
}

.data-form {
    width: 100%;
    margin-bottom: 5em;
    position: relative;
}

.data-form-title {
    font-size: 1.333em;
    font-weight: 500;
    color: #fff;
    margin: 1em 0;
}

.data-form-ul {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
}

.data-form-ul li {
    width: 50%;
    float: left;
    display: flex;
}

.data-form-ul li.w100 {
    width: 100%;
}

.data-form-ul .inputTit{
    width: 10em;
    font-weight: 500;
    text-align: left;
    padding: 1em;
    padding-top: 1.6em;
}

.data-form-ul .inputBox {
    width: calc(100% - 10em);
    padding: 1em;
}

.data-form input,
.data-form select,
.data-form textarea {
    height: 2.667em;
    font-weight: 500;
    border-radius: 0.3em;
    vertical-align: middle;
}

.data-form-ul [type="text"],
.data-form-ul textarea {
    width: calc(100% - 2em);
    padding: 1em;
}

.data-form-ul textarea {
    height: auto;
    margin: 0.6em 0;
    resize: none;
}

/* Table CSS - Blue */
.verBlue ul li [class*='input'],
.verBlue thead tr th,
.verBlue tbody tr td {
    border-bottom: 1px solid #89bbe2;
}
.verBlue ul li:last-child [class*='input'],
.verBlue tbody tr:last-child td {
    border-bottom: 0;
}
.verBlue thead tr th,
.verBlue tbody tr td {
    border-right: 1px solid #88b4ec;
}
.verBlue thead tr th:last-child,
.verBlue tbody tr td:last-child {
    border-right: 0;
}
.verBlue ul li .inputTit,
.verBlue thead tr th {
    background-color: #a0d2f9;
    color: #00224e;
}
.verBlue ul li .inputTit::before {
    content: '•';
    color: #fff;
}
.verBlue ul li .inputBox,
.verBlue tbody tr td {
    background-color: #2f68ae;
}
.verBlue ul li .inputBox [type="text"],
.verBlue ul li .inputBox textarea,
.verBlue input,
.verBlue select {
    color: #82b9ff;
    background-color: #0b438a;
    border: 1px solid #82b9ff;
}
.verBlue tbody tr td > span {
    background-color: #a0d2f9;
    color: #00224e;
}

/* Table CSS - Yellow */
.verYellow ul li [class*='input'],
.verYellow thead tr th,
.verYellow tbody tr td {
    border-bottom: 1px solid #88b4ec;
}
.verYellow ul li:last-child [class*='input'],
.verYellow tbody tr:last-child td {
    border-bottom: 0;
}
.verYellow thead tr th,
.verYellow tbody tr td {
    border-right: 1px solid #88b4ec;
}
.verYellow thead tr th:last-child,
.verYellow tbody tr td:last-child {
    border-right: 0;
}
.verYellow ul li .inputTit,
.verYellow thead tr th {
    background-color: #fffbe3;
    color: #54514f;
}
.verYellow ul li .inputTit::before {
    content: '•';
    color: #ffa37a;
}
.verYellow ul li .inputBox,
.verYellow tbody tr td {
    background-color: #fff;
}
.verYellow ul li .inputBox [type="text"],
.verYellow ul li .inputBox textarea,
.verYellow input,
.verYellow select {
    color: #555555;
    background-color: #f5fafe;
    border: 1px solid #2c89cc;
}
.verYellow tbody tr td > span {
    background-color: #fffbe3;
}

@media screen and (max-width:1000px) {
    .data-form-ul .inputTit {
        width: 9em;
    }
    .data-form-ul .inputBox {
        width: calc(100% - 9em);
    }
    .data-form-ul .inputBox [type="text"],
    .data-form-ul .inputBox textarea {
        width: 100%;
    }

}
@media screen and (max-width:768px) {
    .data-form-ul .inputTit {
        width: 7.5em;
        padding: 1em 0.5em;
        padding-top: 1.6em;
    }

    .data-form-ul .inputBox {
        width: calc(100% - 7.5em);
    }
}
@media screen and (max-width:650px) {
    .data-form-ul .inputTit {
        padding-top: 1.3em;
    }
    .data-form-ul .inputBox {
        padding: 0.7em;
    }
    .data-form-ul textarea {
        margin: 0;
    }
}
@media screen and (max-width:600px) {
    .data-form-ul li {
        width: 100%;
    }
    .data-form-ul .inputBox [type="text"],
    .data-form-ul .inputBox textarea {
        width: 100%;
    }
    .data-form input,
    .data-form select,
    .data-form textarea {
        height: 3.5em;
    }
    .data-form-ul .inputTit {
        padding: 0;
        padding-left: 0.5em;
        line-height: 5em;
    }
}

/* table */
.data-form-tbl {
    width: 100%;
    margin-bottom: 2em;
    border-spacing: 0;
    font-weight: 400;
    color: #54514f;
    text-align: center;
}
.data-form-tbl thead tr th {
    line-height: 2.778em;
}

.data-form-tbl tbody tr td {
    line-height: 4em;
    padding:0 1em;
}

.data-form-tbl tbody tr td > span {
    display: none;
}

/* border-radius */
.data-form-tbl thead tr th:first-child {
    border-radius: 0.5em 0 0 0;
}
.data-form-tbl thead tr th:last-child {
    border-radius: 0 0.5em 0 0;
}
.data-form-tbl tbody tr:last-child td:first-child{
    border-radius: 0 0 0 0.5em;
}
.data-form-tbl tbody tr:last-child td:last-child{
    border-radius: 0 0 0.5em 0;
}

.data-form-tbl input,
.data-form-tbl select {
    width: 100%;
    padding: 0 1em;
}

.data-form-tbl [type="file"] {
    background: none;
    border: 0;
    line-height: 2.778em;
    padding: 0;
}

.data-form-tbl select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../imgs/select_arrow_bl.png) no-repeat right 0.5em center / 11px 7px;
}

.data-form-tbl select:hover,
.data-form-tbl select option:hover {
    cursor: pointer;
}

.verYellow .data-form-tbl select,
.verYellow .data-form-tbl select option {
    background-color: #f5fafe;
}

.verBlue .data-form-tbl select,
.verBlue .data-form-tbl select option {
    background-color: #0b438a;
}

.applyDate {
    background: #fff url(../imgs/calender.png) no-repeat right 12px center / 1.2em 1.2em;
}

@media screen and (max-width: 1400px) {
    .data-form-tbl colgroup,
    .data-form-tbl thead {
        display: none;
    }
    .data-form-tbl tbody {
        width: 100%;
    }
    .data-form-tbl tbody tr {
        display: block;
        margin-bottom: 2em;
    }
    .data-form-tbl tbody tr:last-child {
        margin-bottom: 1em;
    }
    .data-form-tbl tbody tr td {
        width: 100%;
        display: flex;
        padding: 0;
        border-bottom: 1px solid #88b4ec;
    }

    .data-form-tbl tbody tr td > span {
        display: block;
        width: 6em;
        font-weight: 500;
        line-height: 4em;
    }

    /* border */
    .data-form-tbl tbody tr td:last-child {
        border-bottom: 0;
    }
    .data-form-tbl tbody tr:last-child td {
        border-bottom: 1px solid #88b4ec;
    }
    .data-form-tbl tbody tr td:first-child,
    .data-form-tbl tbody tr:last-child td:first-child {
        border-radius: 0;
    }
    .data-form-tbl tbody tr td:last-child,
    .data-form-tbl tbody tr:last-child td:last-child {
        border-radius: 0;
    }
    .data-form-tbl tbody tr td:first-child:before {
        border-radius: 0;
    }
    .data-form-tbl tbody tr td:last-child:before {
        border-radius: 0;
    }

    .data-form-tbl input,
    .data-form-tbl select {
        margin: 1em;
        width: calc(100% - 8em);
    }
    .data-form-tbl thead tr th,
    .data-form-tbl tbody tr td {
        border-right: 0;
    }
}

@media (min-width: 650px) and (max-width: 1400px) {
    .tabDouble tbody tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .tabDouble tbody tr td {
        width: 50%;
    }
    .tabDouble tbody tr td.w100 {
        width: 100%;
    }
    .tabDouble tbody tr td:first-child,
    .tabDouble tbody tr:last-child td:first-child {
        border-radius: 0;
    }
    .tabDouble tbody tr td:last-child,
    .tabDouble tbody tr:last-child td:last-child {
        border-radius: 0;
    }
    .tabDouble tbody tr td:first-child:before {
        border-radius: 0;
    }
    .tabDouble tbody tr td:last-child:before {
        border-radius: 0;
    }
}

@media screen and (max-width: 650px) {
    .data-form-tbl tbody tr {
        margin-bottom: 1em;
    }

    .data-form-tbl input,
    .data-form-tbl select {
        margin: 0.7em;
        width: calc(100% - 7.4em);
    }
}

@media screen and (max-width: 600px) {
    .data-form-tbl tbody tr td > span {
        padding-top: 0.5em;
    }
}

.data-form-btns {
    position: absolute;
    top: 0.5em;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    text-align: right;
}

[class*='data-form-btn-'] {
    padding: 0.3em 3em 0.3em 1.5em;
    background-color: #2689ec;
    border: 1px solid #002261;
    border-radius: 0.3em;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    word-break: keep-all;
    position: relative;
}
.data-form-tbl tbody tr td:last-child {
    position: relative;
}
[class*='data-form-btn-'] span::after {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.data-form-btn-add span::after {
    background: transparent url(../imgs/btn_add.png) no-repeat center / 60%;
}

.data-form-btn-file span::after {
    background: transparent url(../imgs/btn_file.png) no-repeat center;
}

[class*='data-form-btn-']:hover {
    cursor: pointer;
    background-color: #002261;
}

/* 관련 자료 등록 버튼 */
#input-file {
    display: none;
}
input.upload-name {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
}

@media screen and (max-width:1400px) {
    .data-form-btn-add {
        transition: 0.5s;
    }
    .data-form-btn-file {
        height: 2.667em;
        line-height: 2.667em;
        padding: 0 2.2em 0 1em;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translate(0, -50%);
        transition: 0.5s;
    }

    input.upload-name {
        display: block;
        text-align: left;
        height: 2.667em;
    }
}

@media screen and (max-width:990px) {
    .data-form-tbl {
        margin-bottom: 0;
    }
    .data-form-btns {
        position: relative;
        overflow: hidden;
    }
    .data-form-btn-add {
        padding: 1.2em 0;
        padding-right: 1em;
        width: 50%;
        float: left;
        left: 50%;
        transform: translate(-50%,0);
        transition: 0.5s;
        text-align: center;
        font-size: 1.2em;
    }
}

@media screen and (max-width:650px) {
    .data-form-tbl tbody tr td:last-child {
        height: calc(8em - 0.7em);
    }
    .data-form-btn-file {
        width: calc(100% - 7.6em);
        top: 50%;
        right: 0.7em;
        transform: none;
        transition: 0.5s;
    }
}

@media screen and (max-width:500px) {
    .data-form-btn-add {
        margin-bottom: 1%;
    }
}

@media screen and (max-width:500px) {
    .data-form-btn-add {
        width: 100%;
    }
}