@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 300;
    src:url("../fonts/SCDream/SCDreamLight.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamLight.woff") format('woff'),
        url("../fonts/SCDream/SCDreamLight.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/SCDream/SCDreamRegular.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamRegular.woff") format('woff'),
        url("../fonts/SCDream/SCDreamRegular.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/SCDream/SCDreamMedium.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamMedium.woff") format('woff'),
        url("../fonts/SCDream/SCDreamMedium.otf") format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing :-0.05em;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}
body {
    font-family: 'SCDream', sans-serif;
    color: #555555;
    font-size: 18px;
    background-color: #003c8b;
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}
@media screen and (max-width:1280px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    body {
        font-size: 15px;
    }
}
@media screen and (max-width:650px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width:320px) {
    body {
        font-size: 13px;
    }
}
.data_page {
    width: 100%;
    overflow: hidden;
}
.blind {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}

.title {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    margin: 1em 0;
}

[class*="form-"] {
    width: 100%;
    margin-bottom: 5em;
    position: relative;
}

.stt2 {
    font-size: 1.333em;
    font-weight: 500;
    color: #fff;
    margin: 0.5em 0;
    padding-right: 6em;
}

/* form_ul */
.form_ul {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
}

.form_ul [class*="cell"] {
    width: 50%;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.form_ul li.cell-full {
    width: 100%;
}

.form_ul .cell_th{
    width: 10em;
    font-weight: 500;
    text-align: left;
    padding: 1em;
    padding-top: 1.6em;
}

.form_ul .cell_td {
    width: calc(100% - 10em);
    padding: 1em;
}

[class*="form_"] input,
[class*="form_"] select,
[class*="form_"] textarea {
    height: 2.667em;
    font-weight: 500;
    border-radius: 0.3em;
    vertical-align: middle;
}

.form_ul [type="text"],
.form_ul textarea {
    width: calc(100% - 2em);
    padding: 1em;
}

.form_ul textarea {
    height: auto;
    resize: none;
    line-height: 2em;
}

@media screen and (max-width:1000px) {
    .form_ul .cell_th {
        width: 9em;
    }
    .form_ul .cell_td {
        width: calc(100% - 9em);
    }
    .form_ul .cell_td [type="text"],
    .form_ul .cell_td textarea {
        width: 100%;
    }

}
@media screen and (max-width:768px) {
    .form_ul .cell_th {
        width: 7.5em;
        padding: 1em 0.5em;
        padding-top: 1.6em;
    }

    .form_ul .cell_td {
        width: calc(100% - 7.5em);
    }
}
@media screen and (max-width:650px) {
    .form_ul .cell_th {
        padding-top: 1.3em;
    }
    .form_ul .cell_td {
        padding: 1em;
    }
}
@media screen and (max-width:650px) {
    .form_ul [class*="cell"] {
        width: 100%;
    }
    .form_ul .cell_td [type="text"],
    .form_ul .cell_td textarea {
        width: 100%;
    }
    [class*="form_"] input,
    [class*="form_"] select {
        height: 3.5em;
    }
    [class*="form_"] textarea {
        height: 10em;
    }
    .form_ul .cell_th {
        padding: 0;
        padding-left: 0.5em;
        line-height: 5em;
    }
}

/* table */
.form_tbl {
    width: 100%;
    margin-bottom: 2em;
    border-spacing: 0;
    font-weight: 500;
    color: #54514f;
    text-align: center;
}
.form_tbl thead tr th {
    line-height: 2.778em;
}

.form_tbl tbody tr td {
    padding: 1em;
}

.form_tbl tbody tr td .cell_th {
    display: none;
}
.form_tbl tbody tr td .cell_td {
    background-color: #fff;
}

.form_tbl tbody tr [class*="cell_file"] {
    position: relative;
    text-align: center;
    padding: 0 0.5em;
}

/* border-radius */
.form_tbl thead tr th:first-child {
    border-radius: 0.5em 0 0 0;
}
.form_tbl thead tr th:last-child {
    border-radius: 0 0.5em 0 0;
}
.form_tbl tbody tr:last-child td:first-child{
    border-radius: 0 0 0 0.5em;
}
.form_tbl tbody tr:last-child td:last-child{
    border-radius: 0 0 0.5em 0;
}

.form_tbl input,
.form_tbl select {
    width: 100%;
    padding: 0 1em;
}

.form_tbl select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../imgs/select_arrow_bl.png) no-repeat right 1em center / 11px 7px;
}

.form_tbl select:hover,
.form_tbl select option:hover {
    cursor: pointer;
}

/* Table CSS - Blue */
.form-blue ul li [class*="tbl_"],
.form-blue thead tr th,
.form-blue tbody tr td {
    border-bottom: 1px solid #89bbe2;
}
.form-blue thead tr th,
.form-blue tbody tr td {
    border-right: 1px solid #88b4ec;
}
.form-blue ul li .cell_th,
.form-blue thead tr th {
    background-color: #a0d2f9;
    color: #00224e;
}
.form-blue ul li .cell_th::before {
    content: '•';
    color: #fff;
}
.form-blue ul li .cell_td,
.form-blue tbody tr td {
    background-color: #2f68ae;
}
.form-blue textarea,
.form-blue input,
.form-blue select {
    color: #82b9ff;
    background-color: #0b438a;
    border: 1px solid #82b9ff;
}
.form-blue tbody tr td .cell_th {
    background-color: #a0d2f9;
    color: #00224e;
}

.form-blue .form_tbl select,
.form-blue .form_tbl select option {
    background-color: #0b438a;
}

/* Table CSS - Yellow */
.form-yellow ul li [class*="tbl_"],
.form-yellow thead tr th,
.form-yellow tbody tr td {
    border-bottom: 1px solid #88b4ec;
}
.form-yellow thead tr th,
.form-yellow tbody tr td {
    border-right: 1px solid #88b4ec;
}
.form-yellow ul li .cell_th,
.form-yellow thead tr th {
    background-color: #fffbe3;
    color: #54514f;
}
.form-yellow ul li .cell_th::before {
    content: '•';
    color: #ffa37a;
}
.form-yellow ul li .cell_td,
.form-yellow tbody tr td {
    background-color: #fff;
}
.form-yellow textarea,
.form-yellow input,
.form-yellow select {
    color: #555555;
    background-color: #f5fafe;
    border: 1px solid #2c89cc;
}
.form-yellow tbody tr td .cell_th {
    background-color: #fffbe3;
}

.form-yellow .form_tbl select,
.form-yellow .form_tbl select option {
    background-color: #f5fafe;
}

/* Table CSS - 공통 */
[class*="form-"] ul li:last-child [class*="tbl_"],
[class*="form-"] tbody tr:last-child td {
    border-bottom: 0;
}
[class*="form-"] thead tr th:last-child,
[class*="form-"] tbody tr td:last-child {
    border-right: 0;
}

.applyDate,
.birthDate {
    background: #fff url(../imgs/calender.png) no-repeat right 12px center / 1.2em 1.2em;
}

@media screen and (max-width: 1420px) {
    .form_tbl colgroup,
    .form_tbl thead {
        display: none;
    }
    .form_tbl tbody {
        width: 100%;
    }
    .form_tbl tbody tr {
        display: block;
        margin-bottom: 2em;
    }
    .form_tbl tbody tr:last-child {
        margin-bottom: 1em;
    }
    .form_tbl tbody tr td {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        border-bottom: 1px solid #88b4ec;
    }

    .form_tbl tbody tr td .cell_th {
        display: block;
        width: 6em;
        font-weight: 500;
        line-height: 4em;
    }
    .form_tbl tbody tr td .cell_td {
        display: block;
        width: calc(100% - 6em);
        background-color: #fff;
    }

    /* border */
    .form_tbl tbody tr td:last-child {
        border-bottom: 0;
    }
    .form_tbl tbody tr:last-child td {
        border-bottom: 1px solid #88b4ec;
    }
    .form_tbl tbody tr td:first-child,
    .form_tbl tbody tr:last-child td:first-child {
        border-radius: 0;
    }
    .form_tbl tbody tr td:last-child,
    .form_tbl tbody tr:last-child td:last-child {
        border-radius: 0;
    }
    .form_tbl tbody tr td:first-child:before {
        border-radius: 0;
    }
    .form_tbl tbody tr td:last-child:before {
        border-radius: 0;
    }

    .form_tbl input,
    .form_tbl select {
        margin: 1em;
        width: calc(100% - 2em);
    }
    .form_tbl thead tr th,
    .form_tbl tbody tr td {
        border-right: 0;
    }
}

@media (min-width: 650px) and (max-width: 1420px) {
    .only_tablet_double tbody tr {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }
    .only_tablet_double tbody tr td.cell {
        width: 50%;
    }
    .only_tablet_double tbody tr td.cell-full {
        width: 100%;
    }
    .only_tablet_double tbody tr td:first-child,
    .only_tablet_double tbody tr:last-child td:first-child {
        border-radius: 0;
    }
    .only_tablet_double tbody tr td:last-child,
    .only_tablet_double tbody tr:last-child td:last-child {
        border-radius: 0;
    }
    .only_tablet_double tbody tr td:first-child:before {
        border-radius: 0;
    }
    .only_tablet_double tbody tr td:last-child:before {
        border-radius: 0;
    }
}

@media screen and (max-width: 650px) {
    .form_tbl tbody tr {
        margin-bottom: 1em;
    }
    .form_tbl input,
    .form_tbl select {
        margin: 0;
    }
    .form_tbl tbody tr td .cell_th {
        line-height: normal;
        padding: 1em 0;
    }
    .form_tbl tbody tr td .cell_td {
        padding: 1em;
    }
}

/* 버튼 */
.title_btns {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    text-align: right;
}
.user_btns {
    position: absolute;
    bottom: -2.5em;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    text-align: right;
}

[class*="btn-"] {
    font-weight: 500;
    background-color: #2689ec;
    border: 1px solid #002261;
    border-radius: 0.3em;
    color: #fff;
    word-break: keep-all;
    position: relative;
}
.btn-add {
    font-size: 1em;
    padding: 0.3em 2.5em 0.3em 1.5em;
}
.btn-file {
    font-size: 1em;
    padding: 0.3em 1.5em 0.3em 0.3em;
    text-align: left;
}
.btn-remove {
    font-size: 1em;
    padding: 0.3em 1.4em 0.3em 0.4em;
}

[class*="btn-"]:hover {
    cursor: pointer;
    background-color: #002261;
}
[class*="btn-"] span::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 0.2em;
}

.btn-add span::after {
    background: transparent url(../imgs/btn_add.png) no-repeat center / 90%;
}

.btn-file span::after {
    background: transparent url(../imgs/btn_file.png) no-repeat center / 90%;
}

.btn-remove span::after {
    background: transparent url(../imgs/btn_add.png) no-repeat center / 90%;
}

/* 관련 자료 등록 버튼 */
input.upload-name {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 0.5em;
    height: 1.5em;
}
input#input-file {
    display: none;
}

.form_tbl tbody tr .cell_file2 .cell_td p {
    margin-bottom: 0.5em;
}

@media screen and (min-width:1421px) {
    .form_tbl tbody tr [class*="cell_file"] {
        padding: 0.5em;
    }
    .btn-file {
        padding: 0 0.5em;
        display: block;
        float: left;
        line-height: 2em;
        width: 8em;
        margin-right: 0.5em;
    }
    .btn-remove {
        padding: 0;
        padding-right: 1.2em;
        display: block;
        float: left;
        line-height: 2em;
        width: calc(100% - 8.5em);
    }
}

@media screen and (max-width:1420px) {
    .form_tbl tbody tr [class*="cell_file"] {
        padding: 0;
        text-align: center;
    }
    .form_tbl tbody tr .cell_file2 .cell_td,
    .form_tbl tbody tr .cell_file3 .cell_td {
        text-align: left;
        margin-left: 1em;
    }
    .form_tbl tbody tr .cell_file2 .cell_td .upload-name {
        display: none;
    }
    .form_tbl tbody tr .cell_td .upload-name {
        display: block;
        text-align: left;
        height: 2.5em;
        padding: 0;
    }
    .btn-add {
        transition: 0.5s;
    }
    .btn-file {
        height: 2.667em;
        line-height: 2.667em;
        text-align: center;
        padding: 0 2.2em 0 1em;
        position: absolute;
        top: 50%;
        right: 6.5em;
        transform: translate(0, -50%);
        transition: 0.5s;
    }
    .btn-remove {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translate(0,-50%);
        padding: 0 2.2em 0 1em;
        height: 2.667em;
        transition: 0.5s;
    }
}

@media screen and (max-width:990px) {
    .form_tbl {
        margin-bottom: 0;
    }
    .user_btns {
        position: relative;
        overflow: hidden;
        bottom: 0;
    }
    .title_btns .btn-add {
        padding: 0.3em 1.8em 0.3em 0.8em;
        float: right;
        transition: 0.5s;
        text-align: center;
        font-size: 1em;
    }
    .user_btns .btn-add {
        padding: 1.2em 0;
        padding-right: 1em;
        width: 100%;
        float: left;
        transition: 0.5s;
        text-align: center;
        font-size: 1.2em;
    }
}

@media (min-width: 650px) and (max-width: 1420px) {
    .form_tbl tbody tr td  {
        -webkit-box-align: center;
        -moz-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .form_tbl input,
    .form_tbl select {
        margin: 0.5em 0;
    }
    .form_tbl tbody tr td .cell_th {
        line-height: 5em;
    }
}

@media screen and (max-width:650px) {
    .form_tbl tbody tr [class*="cell_file"] {
        height: 6.5em;
    }
    .form_tbl tbody tr .cell_file1 {
        height: auto;
    }
    .form_tbl tbody tr .cell_file3 .cell_td {
        padding: 0;
        text-align: center;
    }
    input.upload-name {
        margin: 0 1em;
    }
    .btn-file {
        width: calc(100% - 13.7em);
        top: 45%;
        right: 7em;
        transform: none;
        transition: 0.5s;
    }
    .btn-remove {
        width: 5.5em;
        position: absolute;
        top: 45%;
        right: 1em;
        height: 2.667em;
        transform: none;
        transition: 0.5s;
    }
}

@media screen and (max-width:500px) {
    .btn-add {
        margin-bottom: 1%;
    }
}

@media screen and (max-width:380px) {
    .btn-file,
    .btn-remove {
        padding: 0;
        text-align: center;
    }
    .btn-file span::after,
    .btn-remove span::after {
        display: none;
    }
    .btn-file {
        width: calc(100% - 12.2em);
        right: 5.5em;
    }
    .btn-remove {
        width: 4em;
    }
}