@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 300;
    src:url("../fonts/SCDream/SCDreamLight.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamLight.woff") format('woff'),
        url("../fonts/SCDream/SCDreamLight.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/SCDream/SCDreamRegular.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamRegular.woff") format('woff'),
        url("../fonts/SCDream/SCDreamRegular.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/SCDream/SCDreamMedium.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamMedium.woff") format('woff'),
        url("../fonts/SCDream/SCDreamMedium.otf") format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing :-0.05em;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

body {
    font-family: 'SCDream', sans-serif;
    color: #555555;
    font-size: 18px;
    background-color: #003c8b;
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}
@media screen and (max-width:1280px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    body {
        font-size: 15px;
    }
}
@media screen and (max-width:650px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width:320px) {
    body {
        font-size: 13px;
    }
}
.blind {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: #333;
}

.ai-title {
    font-size: 1.25em;
    font-weight: 500;
    color: #fff;
    margin: 1em 0;
}

.boardWrap {
    width: 100%;
    margin-bottom: 10em;
}

.board_srchList {
    width: 100%;
    float: right;
    text-align: right;
    margin: 1em auto;
    color: #fff;
}

.board_selectBox {
    float: right;
}

.board_total {
    display: block;
    float: left;
    margin-left: 1em;
    line-height: 2.222em;
    color: #fff;
    text-align: left;
    font-size: 0.889em;
}

.board_select {
    width: 15%;
    min-width: 6em;
    height: 2.222em;
    line-height: 2.222em;
    margin-right: 0.333em;
    padding: 0 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url(../imgs/select_arrow_wh.png) no-repeat right 0.5em center / 11px 7px;
    border: 1px solid #2c89cc;
    border-radius: 0.3em;
    font-size: 0.889em;
    display: block;
    float: left;
}
.board_select:hover {
    cursor: pointer;
}

.board_select:focus-visible {
    outline: 2px solid #000;
    outline-offset: -3px;
}

.board_select :focus:not(:focus-visible) {
    outline: none;
}

.board_select:focus-within {
    outline: 2px solid #000;
    outline-offset: -3px;
}

.board_select option {
    background-color: #00306d;
}

.board_srch {
    float: right;
    border: 1px solid #2c89cc;
    border-radius: 0.3em;
}

.board_srchList .board_srch_input,
.board_srchList .board_srch_btn {
    height: 2.222em;
    font-size: 0.889em;
    border: none;
    border-radius: 0.3em;
    display: block;
    float: left;
}

.board_srchList .board_srch_input {
    background: transparent;
    border-radius: 0.3em 0 0 0.3em;
    width: 11.5em;
    padding: 0 1em;
}

.board_srchList .board_srch_input:focus-visible {
    outline-offset: -3px;
}

.board_srchList .board_srch_btn {
    background-color: #00306d;
    padding: 0 1.5em;
    border-left: 1px solid #2c89cc;
}

.board_srchList .board_srch_btn:hover {
    cursor: pointer;
    background-color: #012756;
}

.board_srchList .board_srch_btn:focus-visible {
    outline-offset: -3px;
}

@media screen and (max-width:650px) {
    .board_total {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0.5em;
    }
    .board_selectBox {
        width: 100%;
    }
    .board_select {
        width: 49%;
        height: 4em;
        line-height: 4em;
        margin-left: 2%;
        margin-right: 0;
        margin-bottom: 2%;
        padding: 0 2em;
        display: block;
        float: left;
        background-position: right 1.5em center;
    }
    .board_select.ml0 {
        margin-left: 0;
    }
    .board_srch {
        width: 100%;
    }
    .board_srchList .board_srch_input {
        width: calc(100% - 7em);
        float: left;
    }
    .board_srchList .board_srch_btn {
        width: 7em;
        float: left;
    }
    .board_srchList .board_srch_input,
    .board_srchList .board_srch_btn {
        height: 4em;
    }
}

@media screen and (max-width:250px) {
    .board_select {
        width: 100%;
        margin-left: 0;
    }
}

[class*="board-"] {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
}

.board_table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 0.95em;
}

.board_table colgroup .col-num {
    width: 9%;
}

.board_table colgroup .col-title {
    width: 55%;
}

.board_table colgroup .col-writer {
    width: 12%;
}

.board_table colgroup .col-date {
    width: 13%;
}

.board_table colgroup .col-view {
    width: 9%;
}

.board_table thead tr th {
    background: #e1f1fd;
    height: 2.778em;
    border-right: 1px solid #b0b7c0;
    border-bottom: 1px solid #88b4ec;
    color: #1e426f;
    font-weight: 500;
}

.board_table tbody tr td {
    background: #fff;
    font-weight: 500;
}

.board_table tbody tr .col-num {
    font-size: 0.889em;
}

.board_table tbody tr:hover {
    background-color: #f9fafb;
}

.board_table tbody tr td {
    padding: 0 1.5em;
    height: 3.333em;
    border-right: 1px solid #b0b7c0;
    border-bottom: 1px solid #b0b7c0;
    word-wrap: break-word;
}

.board_table tbody tr td a {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.board_table thead tr th:last-child,
.board_table tbody tr td:last-child {
    border-right: 0;
}
.board_table tbody tr:last-child td {
    border-bottom: 0;
}

@media screen and (max-width:1000px)  {
    .board_table tbody tr td {
        padding: 0 1em;
    }
    .board_table colgroup .col-view {
        width: 10%;
    }
}

@media screen and (max-width:820px) {
    .board_table colgroup .col-writer {
        width: 15%;
    }
    .board_table colgroup .col-date {
        width: 18%;
    }
    .board_table colgroup .col-view {
        width: 12%;
    }
}

@media screen and (max-width:650px) {
    .board_table thead tr th {
        height: 3.5em;
    }
    .board_table tbody tr td {
        height: 4.25em;
    }
}

@media screen and (max-width:610px) {
    .board_table tbody tr td {
        padding: 0 0.5em;
    }
}

@media screen and (max-width:560px) {
    .hidden-col {
        display: none;
    }
}

@media screen and (max-width:460px) {
    .board_table colgroup .col-title {
        width: 45%;
    }
    .board_table colgroup .col-view {
        width: 15%;
    }
}

/* 반응형 (제목,등록일만 표시) */
.board_table_sm colgroup .col-num {
    width: 9%;
}

.board_table_sm colgroup .col-title {
    width: 55%;
}

.board_table_sm colgroup .col-writer {
    width: 12%;
}

.board_table_sm colgroup .col-date {
    width: 13%;
}

.board_table_sm colgroup .col-view {
    width: 9%;
}

.board_table_sm {
    display: none;
}

@media screen and (max-width:820px) {
    .board_table_sm colgroup .col-title {
        width: 50%;
    }
    .board_table_sm colgroup .col-date {
        width: 15%;
    }
    .board_table_sm .hidden-col {
        display: none;
    }
    .board_table_lg {
        display: none;
    }

    .board_table_sm {
        display: table;
    }
}

@media screen and (max-width:450px) {
    .board_table_sm colgroup .col-date {
        width: 20%;
    }
}

@media screen and (max-width:350px) {
    .board_table_sm colgroup .col-date {
        width: 25%;
    }
}

/* 페이징 */
.pagination {
    width: 100%;
    margin: 2em auto;
    text-align: center;
}

[class*='board_page_'] {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    color: #fff;
    font-size: 1.056em;
    margin: 0.5em;
}

[class*='board_page_']:hover {
    color: #74b2f3;
}

[class*='board_page_arr'] {
    border: 2px solid #74b2f3;
    margin: 0.1em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
}
[class*='board_page_arr']:hover {
    background-color: #002d69;
}

.board_page_arr_first {
    background: transparent url(../imgs/paging_first.png) no-repeat center / 40%;
}
.board_page_arr_prev {
    background: transparent url(../imgs/paging_prev.png) no-repeat center / 22%;
    margin-right: 0.5em;
}
.board_page_arr_next {
    background: transparent url(../imgs/paging_next.png) no-repeat center / 22%;
    margin-left: 0.5em;
}
.board_page_arr_last {
    background: transparent url(../imgs/paging_last.png) no-repeat center / 40%;
}

.board_page_num.active {
    color: #fff;
    min-width: 2em;
    height: 2em;
    line-height: 1em;
    border: 3px solid #74b2f3;
    border-radius: 1em;
    background-color: #002d69;
    padding: 0.375em 0.5em;
}

@media screen and (max-width:850px) {
    .board_page_num.active {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .hidden-num {
        display: none;
    }
}

@media screen and (max-width:500px) {
    [class*='board_page_arr'] {
        margin: 0.1em;
    }
    .board_page_arr_prev {
        margin-right: 0.3em;
    }
    .board_page_arr_next {
        margin-left: 0.3em;
    }
}

/* board-change */
@media screen and (max-width:750px) {
    .board-change .board_table colgroup {
        display: none;
    }
    .board-change .board_table thead {
        display: none;
    }
    .board-change .board_table {
        display: table;
    }
    .board-change tbody tr td {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 1em;
        border-bottom: none;
    }
    .board-change tbody tr td::before {
        content: attr(data-before);
        display: block;
        float: left;
        width: 5em;
        text-align: right;
        font-weight: 600;
    }
    .board-change tbody tr td span {
        display: block;
        float: right;
        width: calc(100% - 7em);
        text-align: left;
    }
    .board-change tbody tr td:first-child {
        padding-top: 1.5em;
    }
    .board-change tbody tr td:last-child {
        padding-bottom: 1.5em;
        border-bottom: 1px solid #b0b7c0;
        border-right: 1px solid #b0b7c0;
    }
}
@media screen and (max-width:440px) {
    .board-change tbody tr td::before {
        width: 4em;
    }
    .board-change tbody tr td span {
        width: calc(100% - 6em);
    }
}