@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 300;
    src:url("../fonts/SCDream/SCDreamLight.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamLight.woff") format('woff'),
        url("../fonts/SCDream/SCDreamLight.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/SCDream/SCDreamRegular.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamRegular.woff") format('woff'),
        url("../fonts/SCDream/SCDreamRegular.otf") format('opentype');
}
@font-face {
    font-family: 'SCDream';
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/SCDream/SCDreamMedium.woff2") format('woff2'),
        url("../fonts/SCDream/SCDreamMedium.woff") format('woff'),
        url("../fonts/SCDream/SCDreamMedium.otf") format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing :-0.05em;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

body {
    font-family: 'SCDream', sans-serif;
    color: #555555;
    font-size: 18px;
    background-color: #003c8b;
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
}
@media screen and (max-width:1280px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    body {
        font-size: 15px;
    }
}
@media screen and (max-width:650px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width:320px) {
    body {
        font-size: 13px;
    }
}
.blind {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: #333;
}

.title {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    margin: 1em 0;
}

.board_wrap {
    width: 100%;
    margin-bottom: 10em;
}

/* board_bar */
.board_bar {
    width: 100%;
    float: right;
    text-align: right;
    margin-bottom: 1em;
    color: #fff;
}

.board_total {
    float: left;
    margin-left: 1em;
    line-height: 2.222em;
    color: #fff;
    text-align: left;
    font-size: 0.889em;
}

.board_search_group {
    float: right;
}
.board_search_filter {
    width: 15%;
    min-width: 6em;
    height: 2.222em;
    line-height: 2.222em;
    margin-right: 0.333em;
    padding: 0 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../imgs/select_arrow_wh.png);
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 11px 7px;
    border: 1px solid #2c89cc;
    border-radius: 0.3em;
    font-size: 0.889em;
    display: block;
    float: left;
}
.board_search_filter:hover {
    cursor: pointer;
}
.board_search_filter:focus-visible {
    outline: 2px solid #000;
    outline-offset: -3px;
}
.board_search_filter :focus:not(:focus-visible) {
    outline: none;
}
.board_search_filter:focus-within {
    outline: 2px solid #000;
    outline-offset: -3px;
}
.board_search_filter option {
    background-color: #00306d;
}

.board_search {
    float: right;
    border: 1px solid #2c89cc;
    border-radius: 0.3em;
}
.board_search_input,
.board_search_btn {
    height: 2.222em;
    font-size: 0.889em;
    border: none;
    border-radius: 0.3em;
    display: block;
    float: left;
}
.board_search_input {
    background: transparent;
    border-radius: 0.3em 0 0 0.3em;
    width: 11.5em;
    padding: 0 1em;
}
.board_search_input:focus-visible {
    outline-offset: -3px;
}
.board_search_btn {
    background-color: #00306d;
    padding: 0 1.5em;
    border-left: 1px solid #2c89cc;
}
.board_search_btn:hover {
    cursor: pointer;
    background-color: #012756;
}
.board_search_btn:focus-visible {
    outline-offset: -3px;
}

@media screen and (max-width:650px) {
    .board_total {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0.5em;
    }
    .board_search_group {
        width: 100%;
    }
    .board_search_filter {
        width: 49%;
        height: 3.5em;
        line-height: 3.5em;
        font-size: 1em;
        margin-left: 2%;
        margin-right: 0;
        margin-bottom: 2%;
        padding: 0 1.5em;
        display: block;
        float: left;
        background-position: right 1.5em center;
    }
    .board_search_filter:first-of-type {
        margin-left: 0;
    }

    .board_search {
        width: 100%;
    }
    .board_search_input,
    .board_search_btn {
        height: 3.5em;
        font-size: 1em;
    }
    .board_search_input {
        width: calc(100% - 7em);
        float: left;
    }
    .board_search_btn {
        width: 7em;
        float: left;
    }
}

@media screen and (max-width:400px) {
    .board_search_filter {
        width: 100%;
        margin-left: 0;
    }
}

/* board */
.board {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 0.95em;
    border-radius: 0.5em;
    overflow: hidden;
}

.board colgroup .col_num {
    width: 10%;
}
.board colgroup .col_title {
    width: 55%;
}
.board colgroup .col_writer {
    width: 12%;
}
.board colgroup .col_date {
    width: 13%;
}
.board colgroup .col_view {
    width: 10%;
}

.board thead tr th {
    padding: 1em 0;
    background: #e1f1fd;
    border-right: 1px solid #b0b7c0;
    border-bottom: 1px solid #88b4ec;
    color: #1e426f;
    font-weight: 500;
}

.board tbody tr .col_num {
    font-size: 0.889em;
}

.board tbody tr:hover td {
    background-color: #f9fafb;
}

.board tbody tr td {
    padding: 1.25em;
    background: #fff;
    border-right: 1px solid #b0b7c0;
    border-bottom: 1px solid #b0b7c0;
    font-weight: 500;
    word-wrap: break-word;
}

.board tbody tr td a {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.board tbody tr td a:hover {
    cursor: pointer;
    color: #003c8b;
}

.board thead tr th:last-of-type,
.board tbody tr td:last-of-type {
    border-right: 0;
}
.board tbody tr:last-of-type td {
    border-bottom: 0;
}

@media screen and (max-width:1040px)  {
    .board thead tr th {
        padding: 0.75em 0;
    }
    .board tbody tr td {
        padding: 0.9em;
    }
}

@media screen and (max-width:960px) {
    .board colgroup .col_title {
        width: 45%;
    }
    .board colgroup .col_writer {
        width: 15%;
    }
    .board colgroup .col_date {
        width: 18%;
    }
    .board colgroup .col_view {
        width: 12%;
    }
}

@media screen and (max-width:610px) {
    .board tbody tr td {
        padding: 0.75em;
    }
}

@media screen and (max-width:560px) {
    .col_hidden {
        display: none;
    }
}

/* PC 5열, 모바일 4열 */
@media screen and (max-width:560px) {
    .mobile_colhidden-1 colgroup .col_title {
        width: 55%;
    }
}

/* PC 5열, 모바일 2열 */
@media screen and (max-width:560px) {
    .mobile_colhidden-3 colgroup .col_title {
        width: 70%;
    }
    .mobile_colhidden-3 colgroup .col_date {
        width: 30%;
    }
}

@media screen and (max-width:460px) {
    .mobile_colhidden-1 colgroup .col_title {
        width: 45%;
    }
    .mobile_colhidden-1 colgroup .col_view {
        width: 15%;
    }
}

/* 태블릿 레이아웃 변경 */
.tablet_change tbody tr td .pc_hidden {
    display: none;
}

@media screen and (max-width:750px) {
    .tablet_change colgroup,
    .tablet_change thead {
        display: none;
    }
    .tablet_change {
        display: table;
    }
    .tablet_change tbody tr .col_num {
        font-size: 0.95em;
    }
    .tablet_change tbody tr td {
        display: block;
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 1em;
        border-bottom: none;
    }
    .tablet_change tbody tr td:first-of-type {
        padding-top: 1.5em;
    }
    .tablet_change tbody tr td:last-of-type {
        padding-bottom: 1.5em;
        border-bottom: 1px solid #b0b7c0;
        border-right: 1px solid #b0b7c0;
    }

    .tablet_change tbody tr td .pc_hidden {
        display: block;
        float: left;
        width: 5em;
        margin-right: 1em;
        text-align: right;
        font-weight: 600;
    }
    .tablet_change tbody tr td .tbl_td {
        float: left;
        width: calc(100% - 7em);
        text-align: left;
    }

    .board colgroup .col_num {
        width: auto;
    }
}

@media screen and (max-width:440px) {
    .tablet_change tbody tr td .pc_hidden {
        width: 4em;
    }
    .tablet_change tbody tr td .tbl_td {
        width: calc(100% - 6em);
    }
}

/* 페이징 */
.pagination {
    width: 100%;
    margin: 2em auto;
    text-align: center;
}

[class*="arrow_"],
[class*="page_num"] {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    color: #fff;
    font-size: 1.056em;
    margin: 0.5em;
}
[class*="arrow_"] {
    border: 2px solid #74b2f3;
    margin: 0.1em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
}
[class*="arrow_"]:hover {
    background-color: #002d69;
}
[class*="page_num"]:hover {
    color: #74b2f3;
}

.arrow_first {
    background: transparent url(../imgs/paging_first.png) no-repeat center / 40%;
}
.arrow_prev {
    background: transparent url(../imgs/paging_prev.png) no-repeat center / 22%;
    margin-right: 0.5em;
}
.arrow_next {
    background: transparent url(../imgs/paging_next.png) no-repeat center / 22%;
    margin-left: 0.5em;
}
.arrow_last {
    background: transparent url(../imgs/paging_last.png) no-repeat center / 40%;
}

.page_num.active {
    color: #fff;
    min-width: 2em;
    height: 2em;
    line-height: 1em;
    border: 3px solid #74b2f3;
    border-radius: 1em;
    background-color: #002d69;
    padding: 0.375em 0.5em;
}

@media screen and (max-width:850px) {
    .page_num.current {
        margin: 0;
    }
}


@media screen and (max-width:500px) {
    [class*="arrow_"] {
        margin: 0.1em;
    }
    .arrow_prev {
        margin-right: 0.3em;
    }
    .arrow_next {
        margin-left: 0.3em;
    }
}